<div *ngIf="!confirm_is_clicked" class="container">
  <div class="col" style="margin-right: 10px;">
    <div>
      <p>Messaggio</p>
      <input id="input_msg" (keyup)="onKey($event)" [(ngModel)]="notification_message" type="text" name="message" #message placeholder="Messaggio notifica" style="width:80%; padding-top:5px !important; padding-bottom:5px !important; padding-left:5px; margin-left:0px !important; font-size:18px !important">
    </div>
  <!-- <button class="btn" (click)="sendNotification(message)" type="submit">Invia Notifica</button> <br> -->
  </div>

  <div class="col_preview">
    <p>DESTINATARI</p>
    <div class="selected-value">
      <span *ngIf="selected_audience == 'Invia a tutti' " >
        <p style="font-size:0.9em"> INVIA A TUTTI </p>
      </span>
      <span *ngIf="selected_audience == 'Invia ad utenti test' " >
        <p style="font-size:0.9em"> INVIA AGLI UTENTI TEST</p>
      </span>
      <span *ngIf="NO_SELECTED_AUDIENCE" >
          <p style="font-size:0.9em; color: red"><strong>NESSUN DESTINATARIO SELEZIONATO!</strong></p>
      </span>

    </div>

    <p>ANTEPRIMA</p>
    <div class="selected-value" style="padding-right:16px !important">
      <div class="preview_message">

        <mat-card>
          <p>EUROFOOD</p>
          <p style="font-size:0.9em; min-height:17px">{{notification_message}}</p>
        </mat-card>
      </div>
    </div>
  
    <div *ngIf="product">
      <p>CONTENUTO COLLEGATO</p>
        <div class="selected-value" style="padding-right:16px !important">
          <div class="product_preview" style="padding-right:120px; padding-left:120px">
            <mat-card>
              <img src="https://test.eurofoodservice.it/api/images/products/{{product.id}}/{{product.id_default_image}}/home_default?ws_key=DDRSMHTSBZPQME7P7WFRFNXB29FGEU6C"
              style="width: 120px !important; height: auto !important; margin: auto; display:block" />

              <!-- <div>
              <span>id: </span> {{selectedProduct.id}}
              </div> -->
              <p style="text-align:center"> {{product.name | uppercase}}</p>
            </mat-card>
          </div>

          <!-- <button (click)="goBack()">go back</button> -->
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="confirm_is_clicked" >
    <div class="confirm_container">
    
      <div>
        <p style="font-size:20px">Messaggio</p>
        <hr>
        <p style="font-size:0.9em; border:1px solid #dedede; padding:5px">{{notification_message}}</p>
      </div>
    
      <div style="margin-top:30px" >
        <p style="font-size:20px">Destinatari</p>
        <hr>
        <span *ngIf="selected_audience == 'Invia a tutti' " >
          <p style="font-size:0.9em; border:1px solid #dedede; padding:5px"> Invia a tutti </p>
        </span>
        <span *ngIf="selected_audience == 'Invia ad utenti test' " >
          <p style="font-size:0.9em; border:1px solid #dedede; padding:5px"> Invia a utenti test</p>
        </span>
        <span *ngIf="NO_SELECTED_AUDIENCE == true" >
            <p style="font-size:0.9em; border:1px solid red; padding:5px">Nessun target selezionato! </p>
        </span>
      </div>
    
      <div style="margin-top:30px">
        <p style="font-size:20px">Contenuto collegato</p>
        <hr>
        <p style="font-size:0.9em; border:1px solid #dedede; padding:5px"> {{product.name}}</p>
      </div>

      <div  style="text-align: center; background-color: #f1f1f2; margin-top: 25px; padding-top:25px; padding-bottom:25px; min-height:36px">
        <span *ngIf="SEND_MSG_IS_CLICKED === false"> 
          <button mat-raised-button color="accent" (click)="sendNotification()" [disabled]=IS_DISABLE_SEND_MSG_BTN>INVIA MESSAGGIO</button>
        </span> 
        <span *ngIf="REQUEST_COMPLETE === false">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </span>
      </div>

      
    </div>
  </div>

  <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->