.example-icon {
    padding: 0 14px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  .mat-raised-button {
    color: rgba(0,0,0,.87) !important;
    min-width: 50px !important;
    /* font-size: 12px !important; */
  }
  /* SPOSTA SOTTO IL MENU */
  .mat-menu-panel {
    margin-top: 50px !important;
    width: 250px !important;
  }

  /* COLORE TESTO BIANCO PER I BUTTON CON COLORE ACCENT*/
  .mat-raised-button.mat-accent{
    color: #ffffff !important;
  }