<span *ngIf="!IS_LOGIN_PAGE">

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span *ngIf="!IS_LOGIN_PAGE">
          <!-- padding-bottom:5px;  -->
        <button mat-button [matMenuTriggerFor]="menu" style="min-width:0px; padding-left:0px; padding-right:15px; margin-left:0px " >
        <i class="material-icons">more_vert</i>
          <!-- <i class="material-icons">person</i> -->
        </button>
        <mat-menu #menu="matMenu">
          <!-- <p style="padding-left:16px; color:darkgrey; font-size:0.9em"> </p>
          <button mat-menu-item (click)="logout()">Logout</button> -->
          <p style="padding-left:16px;"><a href={{URL_VS_ONESIGNAL_SENT_MESSAGES}} target="_blank" style="color:black; text-decoration:none">OneSignal Messaggi inviati</a></p>
          <p style="padding-left:16px;"><a href={{URL_VS_ONESIGNAL_ALL_USERS}} target="_blank" style="color:black; text-decoration:none">OneSignal Tutti gli utenti</a></p>
          <p style="padding-left:16px; margin-bottom:16px !important"><a href={{URL_VS_ONESIGNAL_TEST_USERS}} target="_blank" style="color:black; text-decoration:none">OneSignal Utenti test</a></p>
          <hr>
          <p style="padding-left:16px; font-size:0.9em">Push Panel ver 1.0.1</p>
          
          
        </mat-menu>

        <a style="text-decoration: none; color:white" routerLink="/dashboard">Nuovo Messaggio</a>
      </span>
  
      <!-- <nav>
        <a routerLink="/dashboard" routerLinkActive="active-link">Dashoard</a>
        <a routerLink="/products" routerLinkActive="active-link">Prodotti</a>
      </nav> -->
      <span class="spacer"></span>
      <!-- <button mat-button>Notifiche</button>
      
      <button mat-icon-button (click)="showInfo(link)">
        <mat-icon>person</mat-icon> 
       </button> -->
      <!-- <span *ngIf="!IS_DASHBOARD_PAGE"> -->
           
      <div>
      <span *ngIf="IS_VISIBLE_BACK_BTN">
        <button mat-raised-button style="right: 15px;" (click)="goBack()">BACK</button>
      </span>
        
       <!-- <span *ngIf="!IS_PRODUCT_PAGE">
          <span *ngIf="!IS_DETAIL_PAGE"> -->
          <!-- ****************************************************************************************************
                VIENE VISUALIZZATO SOLO NELLA DASHBORD ESEGUE LO SWICH TRA I COMPONENTI 
                * PRODUCTS (IN CUI C'E' LA LISTA DEI PRODOTTI - CASO: Messaggio + link a contenuto) E 
                * NOTIFICATION MESSAGE (CASI: Solo messaggio E Messaggio + link a pagina web)
                *************************************************************************************************-->
          <span *ngIf="IS_DASHBOARD_PAGE"> 
            <button mat-raised-button color="accent" (click)="goToselectedOption()">NEXT</button>
          </span>
          
        <!-- </span> -->

          <!-- *****************************************************************************************************
                NELLA PRODUCT PAGE VIENE VISUALIZZATO IL NEXT ALTERNATIVO CHE INDITIZZA AL COMPONENTE PRODUCT-DETAIL
                *************************************************************************************************-->
          <span *ngIf="IS_PRODUCT_PAGE">
             <!-- <button mat-raised-button style="background-color: #FF950D" (click)="goToselectedOptionDetailProduct()" [disabled]=DISABLE_NEXT_BTN>NEXT*</button> -->
             <!-- ERA IL NEXT CON L'ASTERISCO -->
             <button mat-raised-button  color="accent" (click)="goToselectedOptionDetailProduct()" [disabled]=DISABLE_NEXT_BTN>NEXT</button>
          </span>

          
          <!-- <span *ngIf="IS_DETAIL_PAGE">  -->
          <span *ngIf="IS_VISIBLE_CONFIRM_BTN"> 
            <!-- <button mat-raised-button style="background-color: #FF950D" (click)="confirmData()" [disabled]="true" >CONFERMA</button> -->
            <span *ngIf="!confirmClicked">
              <button mat-raised-button color="accent" (click)="confirmData()" [disabled]=DISABLE_CONFIRM_BTN>CONFERMA</button>
            </span>
            <span *ngIf="confirmClicked">
                <button mat-raised-button color="warn" (click)="annulConfirmData()">ANNULLA</button>
            </span>
          </span>

        </div>
        <span style="font-size:0.8em; color:white!important; font-weight:200; padding-left:20px">{{LOGGED_USER_EMAIL_TRUNCATE}}</span>
        <button mat-button [matMenuTriggerFor]="menu" style="min-width:0px; padding-left:5px; padding-right:0px; margin-left:6px " >
          <!-- <i class="material-icons">more_vert</i> -->
          <i class="material-icons">person</i>
        </button>
        <mat-menu #menu="matMenu">
          <p style="padding-left:16px; color:darkgrey; font-size:0.9em"> {{ LOGGED_USER_EMAIL }} </p>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>

  
    </mat-toolbar-row>
  </mat-toolbar>
</span>