<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Control-panel</span>
  
      <nav>
        <a routerLink="/dashboard" routerLinkActive="active-link">Dashoard</a>
        <a routerLink="/products" routerLinkActive="active-link">Prodotti</a>
      </nav>
      <span class="spacer"></span>
      <!-- <button mat-button>Notifiche</button>
      
      <button mat-icon-button (click)="showInfo(link)">
        <mat-icon>person</mat-icon> 
       </button> -->
       <button mat-raised-button style="right: 15px;" (click)="goBack()">BACK</button>
        
       <span *ngIf="!IS_PRODUCT_PAGE">
          <span *ngIf="!IS_DETAIL_PAGE">
            <button mat-raised-button style="background-color: #FF950D" (click)="goToselectedOption()">NEXT</button>
          </span>
        </span>
          <span *ngIf="IS_PRODUCT_PAGE">
             <button mat-raised-button style="background-color: #FF950D" (click)="goToselectedOptionDetailProduct()">NEXT*</button>
          </span>

          
          <span *ngIf="IS_DETAIL_PAGE">
            <!-- <button mat-raised-button style="background-color: #FF950D" (click)="confirmData()" [disabled]="true" >CONFERMA</button> -->
            <span *ngIf="!confirmClicked">
              <button mat-raised-button color="accent" (click)="confirmData()" [disabled]=DISABLE_CONFIRM_BTN >CONFERMA</button>
            </span>
            <span *ngIf="confirmClicked">
                <button mat-raised-button color="warning" (click)="annulConfirmData()">ANNULLA</button>
            </span>
          </span>
  
    </mat-toolbar-row>
  </mat-toolbar>