<div class="login_container" >
  <div class="panel-body">
    <div class="panel-card">
      <div class="login_title">
      PUSH PANEL
      </div>

      <div class="row">
        <div class="input-div">
        <input [(ngModel)]="user.email" id="email"
        type="email" class="validate" placeholder="email">
        <!-- <label for="email">Email</label> -->
        </div>
      </div>

      <div class="row">
        <div class="input-div ">
          <input [(ngModel)]="user.password" id="password" type="password" class="validate" placeholder="password">
          <!-- <label for="password">Password</label> -->
        </div>
      </div>

      <!-- <span>{{errorMsg}}</span> -->
      <div class="row">
        <div class="login-div">
          <button (click)="login()" class="login-btn" type="submit" name="action">Login</button>
        </div>
      </div>
    </div>
  </div>

  <span *ngIf="errorMsg">
    <div class="alert">
    <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  -->
    <span style="font-size:1em">{{errorMsg}}</span>
    </div>
  </span>
</div>
