<!-- <input name="title" #searchParam> -->

<!-- <button (click)="performSearch(searchParam)">Cerca</button> -->

<!-- <button [(ngModel)]="name" (input)="search($event)">Cerca</button> -->
<input (keyup)="search($event)">

<ul class="products">
  <li *ngFor="let product of products"
    [class.selected]="product === selectedProduct" 
    (click)="onSelect(product)">
    <span class="badge">{{product.id}}</span> {{product.name}}
  </li>
</ul>

<div *ngIf="selectedProduct">
  <div>
    <span>id: </span>
    {{selectedProduct.id}}
  </div>
  <h2> {{selectedProduct.name | uppercase}}</h2>

  <div><label>Messaggio: <input type="text" name="message" #message></label></div>

  <button (click)="sendNotification(message)" type="submit">Invia Notifica</button>

</div>