<!-- <mat-sidenav-container fullscreen class="example-container" style="top: 74px !important;">
    
  
    <span *ngIf="navMode == 'over'">
        <span *ngIf="opened == false">
            <button id="toggle_btn" type="button" mat-button (click)="sidenav.open(); onOpenClick()">
                Open sidenav
            </button>
        </span>
    </span>

  <span *ngIf="opened == true">
      <button id="toggle_btn" type="button" mat-button (click)="sidenav.close(); onCloseClick()">
          Close sidenav
      </button>
  </span>

  <mat-sidenav #sidenav class="example-sidenav" mode="over" opened="false">

      
      <mat-list>
         <mat-list-item class="active">
             <button mat-icon-button (click)="showInfo(link)">
              <mat-icon>dashboard</mat-icon> 
             
                Dashboard
              
           </button>
          </mat-list-item>
          <mat-list-item>
          <button mat-icon-button (click)="showInfo(link)">
              <mat-icon>info</mat-icon> Info
           </button>
           </mat-list-item>
        </mat-list>
  </mat-sidenav>

  <div class="example-sidenav-content"> -->

        <!-- questo commento c'era -->
      <!-- <router-outlet></router-outlet> -->

      <!-- commento aggiunto -->
  <!-- </div>

</mat-sidenav-container> -->


