<div  *ngIf="!confirm_is_clicked" class="container">
  <div class="col" style="margin-right: 10px;">

    <!-- VISUALIZZATO SE SELEZIONE USER SELECTION E' UNDEFINED -->
    <span *ngIf="userSelection == undefined">
      <p class="msg-label">
        Si è verificato un errore, torna alla  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </p>
     </span>

    <!-- VISUALIZZATO SE SELEZIONE UTENTE SOLO MESSAGGIO -->
    <span *ngIf="userSelection == 'message'">
      <p class="msg-label">
        MESSAGGIO
      </p>
      <!-- <form #form="ngForm">  -->
        <input class="msg-input" [(ngModel)]="notification_message" (keyup)="onKey($event)" type="text" name="message" #message placeholder="testo del messaggio" style="">
      <!-- </form> -->
      <!-- <div class="back_next_btns">
        <button mat-raised-button (click)="goBack()">Indietro</button>
        <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="sendNotificationOnlyMessage(message)">Conferma</button>
      </div> -->
    </span>
    
    <!-- VISUALIZZATO SE SELEZIONE UTENTE MAESSAGGIO + URL -->
    <span *ngIf="userSelection == 'message+url'">
      <p class="msg-label">
        MESSAGGIO
      </p>
        <input style="margin-bottom:35px !important" class="msg-input" [(ngModel)]="notification_message" (keyup)="onKey($event)" type="text" name="message" #message placeholder="testo del messaggio">
      <p class="msg-label">
        URL da lanciare
      </p>
        <!-- <input id="url_input" class="msg-input" [(ngModel)]="launch_url" type="text" (keyup)="onKeyURL($event)" 
        name="url" #url placeholder="http://example.com" style="margin-bottom:10px !important"
        value="" onfocus="this.launch_url = this.launch_url;" #input>
      <span *ngIf="HAS_INVALID_URL === true">
        <div class="invalid_url">
          {{invalidUrlErrorMsg}}
        </div>
      </span> -->
    
      <!-- NEW -->
      <form [formGroup] = "form">
          <input class="msg-input" [class.invalid]="!form.controls.url.valid && (form.controls.url.dirty || submitAttempt)" formControlName="url" type="url" (paste)="onPaste($event)" placeholder="http://example.com">
          <!-- <div *ngIf="!form.controls.email.valid && (form.controls.email.dirty || submitAttempt)"> -->
          <div *ngIf="!form.controls.url.valid && (form.controls.url.dirty)">
          <p style="color:red; margin-top:0px !important ">Si prega di ricontrollare l'URL. Gli URL dei siti web devono iniziare con http:// o https://</p>
        </div>
    </form>
      
    </span>


  </div>

  <div class="col_preview">
      <p>DESTINATARI</p>
      <div class="selected-value">
        <span *ngIf="selected_audience == 'Invia a tutti' " >
          <p style="font-size:0.9em; padding-top:9px; padding-bottom:9px"> INVIA A TUTTI </p>
        </span>
        <span *ngIf="selected_audience == 'Invia ad utenti test' " >
          <p style="font-size:0.9em; padding-top:9px; padding-bottom:9px"> INVIA AGLI UTENTI TEST</p>
        </span>
        <span *ngIf="NO_SELECTED_AUDIENCE" >
            <p style="font-size:0.9em;">
              <span style="color: red; font-size:1.1em">
                Nessun destinatario selezionato!
              </span>
              <button mat-button [matMenuTriggerFor]="menu">
                Seleziona &nbsp;<i class="material-icons">mode_edit</i>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="onSendToAllClick()" mat-menu-item>Invia a tutti</button>
                <button (click)="onSendToTesterClick()" mat-menu-item>Invia ad utenti test</button>
              </mat-menu>
            </p>
        </span>
  
      </div>
      <p>ANTEPRIMA</p>
      <div class="selected-value" style="padding-right:16px !important">
        <div class="preview_message">
  
          <mat-card>
            <p>EUROFOOD</p>
            <p style="font-size:0.9em; min-height:17px">{{notification_message}}</p>
          </mat-card>
        </div>
      </div>

      <span *ngIf="userSelection == 'message+url'">
      <p>URL COLLEGATO</p>
        <div class="selected-value" style="padding-right:16px !important">
          <div class="product_preview" >
            <mat-card style="min-height:18px">
              <!-- <p style="text-align:center"> {{launch_url}}</p> -->
              <p style="text-align:center"> {{form.value.url}}</p>
            </mat-card>
          </div>
        </div>
      </span>
  </div>

</div>
<div *ngIf="confirm_is_clicked" >
    <div class="confirm_container">
    
      <div>
        <p style="font-size:20px">Messaggio</p>
        <hr>
        <p style="font-size:0.9em; border:1px solid #dedede; padding:5px">{{notification_message}}</p>
      </div>
    
      <div style="margin-top:30px">
        <p style="font-size:20px">Destinatari</p>
        <hr>
        <span *ngIf="selected_audience == 'Invia a tutti' " >
          <p style="font-size:0.9em; border:1px solid #dedede; padding:5px"> Invia a tutti </p>
        </span>
        <span *ngIf="selected_audience == 'Invia ad utenti test' " >
          <p style="font-size:0.9em; border:1px solid #dedede; padding:5px"> Invia a utenti test</p>
        </span>
        <span *ngIf="NO_SELECTED_AUDIENCE == true" >
            <p style="font-size:0.9em; border:1px solid red; padding:5px">Nessun target selezionato! </p>
        </span>
      </div>
    
      <span *ngIf="userSelection == 'message+url'">
        <div style="margin-top:30px">
          <p style="font-size:20px">URL collegato</p>
          <hr>
          <p style="font-size:0.9em; border:1px solid #dedede; padding:5px">{{form.value.url}}</p>
        </div>
      </span>

      <div  style="text-align: center; background-color: #f1f1f2; margin-top: 25px; padding-top:25px; padding-bottom:25px; min-height:36px">
        <span *ngIf="SEND_MSG_IS_CLICKED === false"> 
            <span *ngIf="userSelection == 'message+url'">
              <button mat-raised-button color="accent" (click)="sendNotificationMessageAndUrl()" [disabled]=IS_DISABLE_SEND_MSG_BTN>INVIA MESSAGGIO</button>
            </span>
            <span *ngIf="userSelection == 'message'">
              <!-- ERA INVIA MESSAGGIO CON L'ASTERISCO -->
              <button mat-raised-button color="accent" (click)="sendNotificationOnlyMessage()" [disabled]=IS_DISABLE_SEND_MSG_BTN>INVIA MESSAGGIO</button>
            </span>
        </span> 
        <span *ngIf="REQUEST_COMPLETE === false">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </span>
      </div>

      
    </div>
  </div>