<div class="container">
  <div class="col" style="margin-right: 10px;">

    <!-- VISUALIZZATO SE SELEZIONE UTENTE SOLO MESSAGGIO -->
    <span *ngIf="userSelection == 'message'">
      <p>Messaggio</p>
      <form #form="ngForm">
        <input ngModel type="text" name="message" #message placeholder="testo del messaggio" style="width:80%; padding-top:5px !important; padding-bottom:5px !important; padding-left:5px; margin-left:0px !important; font-size: 16px; margin-bottom:25px"
        #input required>
      </form>
      <div class="back_next_btns">
        <button mat-raised-button (click)="goBack()">Indietro</button>
        <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="sendNotificationOnlyMessage(message)">Conferma</button>
      </div>
    </span>
    
    <!-- VISUALIZZATO SE SELEZIONE UTENTE MAESSAGGIO + URL -->
    <span *ngIf="userSelection == 'message+url'">
      <p>Messaggio</p>
      <form #form="ngForm">
        <input ngModel type="text" name="message" #message placeholder="testo del messaggio" style="width:80%; padding-top:5px !important; padding-bottom:5px !important; padding-left:5px; margin-left:0px !important; font-size: 16px; margin-bottom:25px"
        #input required>
      
      <p>Url</p>
        <input ngModel type="text" name="url" #url placeholder="http://example.com" style="width:80%; padding-top:5px !important; padding-bottom:5px !important; padding-left:5px; margin-left:0px !important; font-size: 16px; margin-bottom:25px"
        #input required>
      </form>
      <div class="back_next_btns">
        <button mat-raised-button (click)="goBack()">Indietro</button>
        <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="sendNotificationMessageAndUrl(message, url)">Conferma URL </button>
      </div>
    </span>

    <p>Destinatari</p>
    
        <mat-form-field>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
  </div>

  <div class="col">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

</div>